In [1]:
import pandas as pd 

data = pd.DataFrame({"power_level": [12000, 16000, 4000, 1500, 3000, 
                                     2000, 1600, 2000, 300],
                     "uniform color": ["orange", "blue", "black", "orange",
                                       "purple", "green", "orange", "orange","orange"],
                     "species": ["saiyan","saiyan","saiyan","half saiyan",
                                 "namak","human","human","human","human"]}, 
                     index = ["Goku","Vegeta", "Nappa","Gohan",
                                   "Piccolo","Tien","Yamcha", "Krillin","Roshi"])

data

         power_level uniform color      species
Goku           12000        orange       saiyan
Vegeta         16000          blue       saiyan
Nappa           4000         black       saiyan
Gohan           1500        orange  half saiyan
Piccolo         3000        purple        namak
Tien            2000         green        human
Yamcha          1600        orange        human
Krillin         2000        orange        human
Roshi            300        orange        human

# Use .apply() to apply a function to a Series (single column)

In [2]:
def my_function(x, h, l):
    if x ＞  h:
        return("high")
    if x ＞  l:
        return("med")
    return ("low")


data["power_level"].apply(my_function, args = [10000, 2000])

SyntaxError: invalid character '＞' (U+FF1E) (1718909684.py, line 2)


# Apply a function to each column with axis = 0

## Can be used to create new rows/summary rows

In [3]:
def mode(x):
    return x.mode()

data.apply(mode, axis = 0)

   power_level uniform color species
0         2000        orange   human


# Apply a function to each row with axis = 1

## Can be used to create new columns/summary columns

In [4]:
def max_str_len(x):
    return max([len(str(v)) for v in x])

data.apply(max_str_len, axis = 1)

Goku        6
Vegeta      6
Nappa       6
Gohan      11
Piccolo     6
Tien        5
Yamcha      6
Krillin     6
Roshi       6
dtype: int64

# Apply a function to each row, referencing column names:

In [5]:
def make_char_string(x):
    return(f"{x.species} with power level: {x.power_level}")

data.apply(make_char_string, axis = 1 )

Goku           saiyan with power level: 12000
Vegeta         saiyan with power level: 16000
Nappa           saiyan with power level: 4000
Gohan      half saiyan with power level: 1500
Piccolo          namak with power level: 3000
Tien             human with power level: 2000
Yamcha           human with power level: 1600
Krillin          human with power level: 2000
Roshi             human with power level: 300
dtype: object

# Apply a function to ALL elements in a Data Frame