In [2]:
import pandas as pd

In [3]:
data = pd.DataFrame({"character": ["Goku","Vegeta", "Nappa","Gohan",
                                   "Piccolo","Tien","Yamcha", "Krillin"], 
                     "power_level": [12000, 16000, 4000, 1500, 3000, 
                                     2000, 1600, 2000],
                     "uniform color": ["orange", "blue", "black", "orange",
                                       "purple", "green", "orange", "orange"],
                     "species": ["saiyan","saiyan","saiyan","half saiyan",
                                 "namak","human","human","human"]})

data

  character  power_level uniform color      species
0      Goku        12000        orange       saiyan
1    Vegeta        16000          blue       saiyan
2     Nappa         4000         black       saiyan
3     Gohan         1500        orange  half saiyan
4   Piccolo         3000        purple        namak
5      Tien         2000         green        human
6    Yamcha         1600        orange        human
7   Krillin         2000        orange        human

# Create a logical index with one value for each row

In [5]:
logical_index = data["power_level"] > 2000

logical_index

0     True
1     True
2     True
3    False
4     True
5    False
6    False
7    False
Name: power_level, dtype: bool

# Use the logical index to index into the data frame

In [6]:
data[logical_index]

  character  power_level uniform color species
0      Goku        12000        orange  saiyan
1    Vegeta        16000          blue  saiyan
2     Nappa         4000         black  saiyan
4   Piccolo         3000        purple   namak


# Select rows based on multiple logical conditions

In [8]:
logical_condition_1 = data["power_level"] > 2000
logical_condition_2 = data["species"] != "saiyan"

data[logical_condition_1 & logical_condition_2]

  character  power_level uniform color species
4   Piccolo         3000        purple   namak