In [3]:
import pandas as pd

import statsmodels.api as sm  #(To access mtcars dataset)
mtcars = sm.datasets.get_rdataset("mtcars", "datasets", cache=True).data
mtcars.head()

# Create a logical index with one value for each column
logical_index = mtcars.mean() > 10

logical_index

mpg      True
cyl     False
disp     True
hp       True
drat    False
wt      False
qsec     True
vs      False
am      False
gear    False
carb    False
dtype: bool

# Get the corresponding columns

In [4]:
cols = mtcars.columns[logical_index]

In [5]:

# Use the column list to index the data frame
mtcars_sub = mtcars[cols]

mtcars_sub.head()

                    mpg   disp   hp   qsec
rownames
Mazda RX4          21.0  160.0  110  16.46
Mazda RX4 Wag      21.0  160.0  110  17.02
Datsun 710         22.8  108.0   93  18.61
Hornet 4 Drive     21.4  258.0  110  19.44
Hornet Sportabout  18.7  360.0  175  17.02

# Do logical indexing on columns in one line:

In [7]:
mtcars[mtcars.columns[mtcars.mean() > 10]].head()

                    mpg   disp   hp   qsec
rownames
Mazda RX4          21.0  160.0  110  16.46
Mazda RX4 Wag      21.0  160.0  110  17.02
Datsun 710         22.8  108.0   93  18.61
Hornet 4 Drive     21.4  258.0  110  19.44
Hornet Sportabout  18.7  360.0  175  17.02