In [1]:
import pandas as pd

data = pd.DataFrame({"char": ["Goku","Vegeta", "Nappa","Gohan","Piccolo"], 
                     "pl": [12000, 16000, 4000, 1500, 3000],
                     "ucl": ["orange", "blue", "black", "orange", "purple"]})

data

      char     pl     ucl
0     Goku  12000  orange
1   Vegeta  16000    blue
2    Nappa   4000   black
3    Gohan   1500  orange
4  Piccolo   3000  purple

# Rename columns with df.rename()

In [2]:
data.rename(columns={'char':'character',
                     'pl': 'power level',
                     'ucl': 'uniform color'}, inplace = True)

data

  character  power level uniform color
0      Goku        12000        orange
1    Vegeta        16000          blue
2     Nappa         4000         black
3     Gohan         1500        orange
4   Piccolo         3000        purple