In [1]:
import pandas as pd 

data = pd.DataFrame({"power_level": [12000, 16000, 4000, 1500, 3000, 
                                     2000, 1600, 2000],
                     "uniform color": ["orange", "blue", "black", "orange",
                                       "purple", "green", "orange", "orange"],
                     "species": ["saiyan","saiyan","saiyan","half saiyan",
                                 "namak","human","human","human"]}, 
                     index = ["Goku","Vegeta", "Nappa","Gohan",
                                   "Piccolo","Tien","Yamcha", "Krillin"])

data

         power_level uniform color      species
Goku           12000        orange       saiyan
Vegeta         16000          blue       saiyan
Nappa           4000         black       saiyan
Gohan           1500        orange  half saiyan
Piccolo         3000        purple        namak
Tien            2000         green        human
Yamcha          1600        orange        human
Krillin         2000        orange        human

# Use .map() to apply a function to a pandas Series

## Data Frame columns are Series

In [3]:
def my_function(x):
    if x > 10000:
        return("high")
    if x > 2000:
        return("med")
    return ("low")


data["power_level"].map(my_function)

Goku       high
Vegeta     high
Nappa       med
Gohan       low
Piccolo     med
Tien        low
Yamcha      low
Krillin     low
Name: power_level, dtype: object

# To map Series values based on key: value correspondence

## Pass a mapping dictionary to .map()

In [4]:
correspondence = {"saiyan": "alien", 
                  "namak":"alien", 
                  "human":"earthling", 
                  "half saiyan": "earthling"}

data["species"].map(correspondence)

Goku           alien
Vegeta         alien
Nappa          alien
Gohan      earthling
Piccolo        alien
Tien       earthling
Yamcha     earthling
Krillin    earthling
Name: species, dtype: object